/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


.frame {
    width:100%;
    height:800px;
    padding-top: 50px;
}


header {
    background-color: black;
}

body {
    background: rgba(0, 0, 0, 0) url("../img/body-background.jpg") no-repeat fixed center center / cover ;
    min-width: 726px;
    margin: 0;
}

header > .layout-wrap {
    height: 40px;
    margin: 0 15%;
    padding: 10px;
}
.search-box {
    float: right;
}
.page-body {
    margin: -16px 13%;
    background-color: rgba(0,0,0,0.3);
}

.notifications {
    background-color: #F0F0F0 ;
    font-size: 13px;
    line-height: 40px;
    margin: 16px 20px;
}
nav {
    height: 145px;
}
.nav-section {
    background-color: #000;
    float: left;
    width: 31%;
    margin: 1%;
    height: inherit;

}
.nav-section > p {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
}
.menu {
    list-style-type: none;
    background: #F0F0F0;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav a {
    display:block;
    padding:10px 20px;
    line-height:16px;
    color:#000;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    text-decoration:none;
}
nav ul:before, nav ul:after {
    content:"";
    display:table;
}
nav ul:after {
    clear:both;
}

.action-list {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}
.action-list li {
    background-color: #FFF;
    width: 100%;
    float: left;
    position: relative;
}
.menu li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 100;
}
.menu > li:hover .action-list{
    display: block;
}

.tabs-list {
    height: 50px;
    list-style-type: none;
    margin-top: 35px;
    margin-left: -3%;
    margin-bottom: 0;
}
.tabs-list li {
    float: left;
    width: 22%;
    background-color: #333333;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 3%;
}
.tabs-list li:hover {
    background-color: #191919;
}
.tabs-list a{
    text-decoration: none;
    color: #FFF2FF;
    font-size: 1.1rem;
}
.active , .active:hover {
    background-color: #808080!important;
}
#tabs-list_content {
    background-color: #808080;
    min-height: 360px;
    position: relative;
    margin-left: 1%;
    margin-right: 3%;
}
.adresses {
   display: inline-block;
   height: 34px;
   width: 220px;
   margin: 20px;
   position: absolute; 
}
.btn-expand {
    background-image: url("../img/expand.png");
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    right: 50px;
    top: 28px;
    background-color: #808080;
}
/*
.btn-expand:hover {
    background-color: #FFFFFF;
}*/
.btn-settings {
    background-image: url("../img/settings.png");
    position: absolute;
    background-repeat: no-repeat;
    background-color: #808080;
    top: 24px;
    right: 16px;
    width: 28px;
    height: 28px;
    border: none;
}
.btn-settings:hover {
    cursor: pointer;
 /*   background-color: #FFFFFF; */
}
.settings {
    background-color: #FFFFFF;
    height: 260px;
    left: 0;
    margin: 0 0 0 16px;
    overflow: hidden;
    padding: 16px;
    position: absolute;
    right: 16px;
    top: 64px;
    box-shadow: 0 4px 7px 2px rgba(50, 50, 50, 0.8);
}
form {
    display: block;
    margin-top: 0;
}
.fieldset {
    background-color: #CCCCCC;
    font-size: 1.1rem;
    margin-bottom: 20px;
    padding: 1% 2%;
    position: relative;
    height: 35px;
}
.reportnumber {
    position: absolute;
    top: 15px;
}
.inputreport {
    position: absolute;
    height: 35px;
}
.reportname {
    left: 15%;
    width: 40%
}
.reportlabel {
    position: absolute;
    top: 21%;
}
.reportinput {
    border:none;
    height: 28px;
    position: inherit;
    left: 14%;
    padding: 0 10%;
    top: 14%;
    font-size: 0.8rem;
}
.reporturl {
    left: 60%;
    width: 40%;
}
.save {
    float: right;
    font-size: 1.1rem;
}
.save input {
    background-color: black;
    color: white;
    border:none;
    height: 30px;
    width: 85px;
    cursor: pointer;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
